* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
.sky {
  height: 100vh;
  width: 100%;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  position: absolute;
}
.trees {
  height: 70vh;
  width: 100%;
  background-image: url(trees.png);
  background-size: cover;
  position: absolute;
  animation: shakeBody linear 3s infinite;
}
.track {
  height: 60vh;
  width: 800vw;
  background-image: url(track.png);
  /* background-size: cover; */
  background-repeat: repeat-x;
  position: absolute;
  top: 70vh;
  animation: track linear 15s infinite;
}
.car {
  height: 100px;
  width: 310px;
  background-image: url(car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 444px;
  bottom: 30vh;
  animation: shake linear 0.4s infinite;
}
.wheel1 img {
  width: 77px;
  position: relative;
  top: 36px;
  left: 37px;
  animation: wheelRotation linear 0.16s infinite;
}
.wheel2 img {
  width: 77px;
  position: relative;
  top: -43px;
  left: 215px;
  animation: wheelRotation linear 0.16s infinite;
}

@keyframes wheelRotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes track {
  100% {
    transform: translateX(-500vw);
  }
}

@keyframes shake {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes shakeBody {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
